InheritParentConfig: true
Checks:
  -readability-function-cognitive-complexity,
  -readability-redundant-string-init,
  -hicpp-move-const-arg,
  -performance-move-const-arg,
  -performance-unnecessary-value-param,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -clang-diagnostic-unused-result,
  -modernize-*,
  -misc-use-internal-linkage,
  -bugprone-empty-catch,
  -boost-*,
  -misc-use-anonymous-namespace,
  -readability-*,
  -performance-*,
  -cppcoreguidelines-use-default-member-init,
  -cppcoreguidelines-avoid-magic-numbers,
  -misc-non-private-member-variables-in-classes,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-type-reinterpret-cast